{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}{% endblock %}</title>
<link href="{% static 'css/base_ITsite.css' %}" rel="stylesheet">
</head>
<body>
 <div id="header">
 <span class="logo">Starter</span>

 <ul class="menu">
  {% if request.user.is_authenticated %}
 <li {% if section == "dashboard" %}class="selected"{% endif %}>
 <a href="{% url 'webprog:dashboard' %}">Мой кабинет</a>
 </li>
  {%endif%}
 <li {% if section == "list" %}class="selected"{% endif %}>
 <a href="{% url 'webprog:post_list' %}">Лента со стартетарами</a>
 </li>
  {% if request.user.is_authenticated %}
 <li {% if section == "people" %}class="selected"{% endif %}>
 <a href="#">Пользователи</a>
 </li>
  {%endif%}
 </ul>

 <span class="user">
 {% if request.user.is_authenticated %}
 Привет {{ request.user.first_name|default:request.user.username }},
 <a href="{% url 'logout' %}">Выйти</a>
 {% else %}
 <a href="{% url 'login' %}">Войти</a>
 {% endif %}
 </span>
 </div>
 <div id="content">
 {% block content %}
 {% endblock %}
 </div>
</body>